<div>
    <nav class="navbar navbar-expand-lg bg-danger fixed-top">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav d-flex justify-content-center w-100 mb-2 mb-lg-0 text-center">
                    <li class="nav-item">
                        <a class="nav-link active text-light" aria-current="page" href="home/">HOME</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="insert">INSERT</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="show">SHOW</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="show-card">PRODUCTS</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>


<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/carousel/angular.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/carousel/spring.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/carousel/mysql.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/carousel/java.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>